In [92]:
#imports
import pandas as pd
import numpy as np

In [93]:
#import election dataset
election_data = pd.read_csv("election_train.csv")
election_data.head()

   Year State           County      Office       Party  Votes
0  2018    AZ    Apache County  US Senator  Democratic  16298
1  2018    AZ    Apache County  US Senator  Republican   7810
2  2018    AZ   Cochise County  US Senator  Democratic  17383
3  2018    AZ   Cochise County  US Senator  Republican  26929
4  2018    AZ  Coconino County  US Senator  Democratic  34240

In [94]:
#import demographics dataset
demographic_data = pd.read_csv("demographics_train.csv")
demographic_data.head()

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,Wisconsin,La Crosse,55063,117538,0,90.537528,1.214075,1.724549,2.976059,51.171536,43.241335,14.702479,51477,4.796952,5.474767,67.529757,16.827753
1,Virginia,Alleghany,51005,15919,12705,91.940449,5.207614,1.432251,1.300333,51.077329,31.660280,23.902255,45538,4.560986,15.537543,83.711604,52.393846
2,Indiana,Fountain,18045,16741,12750,95.705155,0.400215,2.359477,1.547100,49.770026,35.899887,18.941521,45924,7.978789,12.032155,85.538940,65.951276
3,Ohio,Geauga,39055,94020,0,95.837056,1.256116,1.294405,2.578175,50.678579,36.281642,18.028079,74165,4.036902,8.928599,62.730824,63.968990
4,Wisconsin,Jackson,55053,20566,15835,86.662453,1.983857,3.082758,1.376058,46.649810,36.292911,17.587280,49608,5.569698,11.792912,86.129256,72.238251

### Task 1 - Reshape dataset election_train from long format to wide format.

In [106]:

wide_format_election_data = pd.pivot_table(election_data, index=['Year','State','County', 'Office'], columns=['Party'], values=['Votes'], aggfunc=np.sum).reset_index()
wide_format_election_data.columns = ["Year", "State", "County", "Office", "Democratic Votes", "Republican Votes"]
print(f'Shape of wide Format dataset - f{wide_format_election_data.shape}')
wide_format_election_data.head(10)

Shape of wide Format dataset - f(1205, 6)

   Year State           County      Office  Democratic Votes  Republican Votes
0  2018    AZ    Apache County  US Senator           16298.0            7810.0
1  2018    AZ   Cochise County  US Senator           17383.0           26929.0
2  2018    AZ  Coconino County  US Senator           34240.0           19249.0
3  2018    AZ      Gila County  US Senator            7643.0           12180.0
4  2018    AZ    Graham County  US Senator            3368.0            6870.0
5  2018    AZ    La Paz County  US Senator            1609.0            3265.0
6  2018    AZ  Maricopa County  US Senator          732671.0          672505.0
7  2018    AZ    Mohave County  US Senator           19214.0           50209.0
8  2018    AZ    Navajo County  US Senator           16624.0           18767.0
9  2018    AZ      Pima County  US Senator          221242.0          160550.0

### Task 2 Merge Datasets

In [96]:
# replacing Country with empty/blank string in County name
wide_format_election_data['County'] = wide_format_election_data['County'].str.replace('County', '')
# removing widespaces and converting to uppercase -  County and State
wide_format_election_data[['County', 'State']] = wide_format_election_data[['County', 'State']].apply(lambda x: x.str.strip().str.upper())
wide_format_election_data.head()

   Year State    County      Office  Democratic Votes  Republican Votes
0  2018    AZ    APACHE  US Senator           16298.0            7810.0
1  2018    AZ   COCHISE  US Senator           17383.0           26929.0
2  2018    AZ  COCONINO  US Senator           34240.0           19249.0
3  2018    AZ      GILA  US Senator            7643.0           12180.0
4  2018    AZ    GRAHAM  US Senator            3368.0            6870.0

In [97]:
# states mapping dictionary
states = {'AK': 'ALASKA', 'AL': 'ALABAMA', 'AR': 'ARKANSAS', 'AS': 'AMERICAN SAMOA', 'AZ': 'ARIZONA', 
          'CA': 'CALIFORNIA', 'CO': 'COLORADO', 'CT': 'CONNECTICUT', 'DC': 'DISTRICT OF COLUMBIA', 
          'DE': 'DELAWARE', 'FL': 'FLORIDA', 'GA': 'GEORGIA', 'GU': 'GUAM', 'HI': 'HAWAII', 'IA': 'IOWA', 
          'ID': 'IDAHO', 'IL': 'ILLINOIS', 'IN': 'INDIANA', 'KS': 'KANSAS', 'KY': 'KENTUCKY', 
          'LA': 'LOUISIANA', 'MA': 'MASSACHUSETTS', 'MD': 'MARYLAND', 'ME': 'MAINE', 'MI': 'MICHIGAN',
          'MN': 'MINNESOTA', 'MO': 'MISSOURI', 'MP': 'NORTHERN MARIANA ISLANDS', 'MS': 'MISSISSIPPI',
          'MT': 'MONTANA', 'NA': 'NATIONAL', 'NC': 'NORTH CAROLINA', 'ND': 'NORTH DAKOTA', 'NE': 'NEBRASKA', 
          'NH': 'NEW HAMPSHIRE', 'NJ': 'NEW JERSEY', 'NM': 'NEW MEXICO', 'NV': 'NEVADA', 'NY': 'NEW YORK', 
          'OH': 'OHIO', 'OK': 'OKLAHOMA', 'OR': 'OREGON', 'PA': 'PENNSYLVANIA', 'PR': 'PUERTO RICO', 
          'RI': 'RHODE ISLAND', 'SC': 'SOUTH CAROLINA', 'SD': 'SOUTH DAKOTA', 'TN': 'TENNESSEE', 
          'TX': 'TEXAS', 'UT': 'UTAH', 'VA': 'VIRGINIA', 'VI': 'VIRGIN ISLANDS', 'VT': 'VERMONT', 
          'WA': 'WASHINGTON', 'WI': 'WISCONSIN', 'WV': 'WEST VIRGINIA', 'WY': 'WYOMING'}
#replacing state codes with state names in State Column
wide_format_election_data = wide_format_election_data.replace({"State":states})
wide_format_election_data.head()

   Year    State    County      Office  Democratic Votes  Republican Votes
0  2018  ARIZONA    APACHE  US Senator           16298.0            7810.0
1  2018  ARIZONA   COCHISE  US Senator           17383.0           26929.0
2  2018  ARIZONA  COCONINO  US Senator           34240.0           19249.0
3  2018  ARIZONA      GILA  US Senator            7643.0           12180.0
4  2018  ARIZONA    GRAHAM  US Senator            3368.0            6870.0

In [98]:
# removing widespaces and converting to uppercase -  County and State
demographic_data[['County', 'State']] = demographic_data[['County', 'State']].apply(lambda x: x.str.strip().str.upper())
demographic_data.head()

,State,County,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,WISCONSIN,LA CROSSE,55063,117538,0,90.537528,1.214075,1.724549,2.976059,51.171536,43.241335,14.702479,51477,4.796952,5.474767,67.529757,16.827753
1,VIRGINIA,ALLEGHANY,51005,15919,12705,91.940449,5.207614,1.432251,1.300333,51.077329,31.660280,23.902255,45538,4.560986,15.537543,83.711604,52.393846
2,INDIANA,FOUNTAIN,18045,16741,12750,95.705155,0.400215,2.359477,1.547100,49.770026,35.899887,18.941521,45924,7.978789,12.032155,85.538940,65.951276
3,OHIO,GEAUGA,39055,94020,0,95.837056,1.256116,1.294405,2.578175,50.678579,36.281642,18.028079,74165,4.036902,8.928599,62.730824,63.968990
4,WISCONSIN,JACKSON,55053,20566,15835,86.662453,1.983857,3.082758,1.376058,46.649810,36.292911,17.587280,49608,5.569698,11.792912,86.129256,72.238251

In [99]:
# Merging datasets using inner join on columns - State and County
merged_data = pd.merge(wide_format_election_data, demographic_data, how='inner', on=['State','County'])
merged_data.head()

,Year,State,County,Office,Democratic Votes,Republican Votes,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino",...,Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,2018,ARIZONA,APACHE,US Senator,16298.0,7810.0,4001,72346,0,18.571863,...,5.947806,1.719515,50.598513,45.854643,13.322091,32460,15.807433,21.758252,88.941063,74.061076
1,2018,ARIZONA,COCHISE,US Senator,17383.0,26929.0,4003,128177,92915,56.299492,...,34.403208,11.458374,49.069646,37.902276,19.756275,45383,8.567108,13.409171,76.837055,36.301067
2,2018,ARIZONA,COCONINO,US Senator,34240.0,19249.0,4005,138064,104265,54.619597,...,13.711033,4.825298,50.581614,48.946141,10.873943,51106,8.238305,11.085381,65.791439,31.466066
3,2018,ARIZONA,GILA,US Senator,7643.0,12180.0,4007,53179,0,63.222325,...,18.548675,4.249798,50.296170,32.238290,26.397638,40593,12.129932,15.729958,82.262624,41.062000
4,2018,ARIZONA,GRAHAM,US Senator,3368.0,6870.0,4009,37529,0,51.461536,...,32.097844,4.385942,46.313518,46.393456,12.315809,47422,14.424104,14.580797,86.675944,46.437399

### Task 3 Explore Merged Dataset

In [100]:
print(f'Number of variables - {merged_data.shape[1]}\n')
print(f'Data Types for each variable - \n{merged_data.dtypes}\n')
print(f'Number of variables for each data type - \n{merged_data.dtypes.value_counts()}')

Number of variables - 21

Data Types for each variable -
Year                                       int64
State                                     object
County                                    object
Office                                    object
Democratic Votes                         float64
Republican Votes                         float64
FIPS                                       int64
Total Population                           int64
Citizen Voting-Age Population              int64
Percent White, not Hispanic or Latino    float64
Percent Black, not Hispanic or Latino    float64
Percent Hispanic or Latino               float64
Percent Foreign Born                     float64
Percent Female                           float64
Percent Age 29 and Under                 float64
Percent Age 65 and Older                 float64
Median Household Income                    int64
Percent Unemployed                       float64
Percent Less than High School Degree     float64
Percent Less than Bachelor's Degree      float64
Percent Rural                            float64
dtype: object

Number of variables for each data type -
float64    13
int64       5
object      3
dtype: int64

In [101]:
#Looking for columns that have a constant value for all observations
columns_with_single_unique_value  = merged_data.columns[merged_data.nunique() <= 1]
for column in columns_with_single_unique_value:
    print(f'Column {column} unique values - {merged_data[column].unique()}')

Column Year unique values - [2018]
Column Office unique values - ['US Senator']

In [102]:
#Removing the columns 'Year' and 'Office' from the dataset
merged_data = merged_data.drop(columns_with_single_unique_value,axis=1)
merged_data.head()

,State,County,Democratic Votes,Republican Votes,FIPS,Total Population,Citizen Voting-Age Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,ARIZONA,APACHE,16298.0,7810.0,4001,72346,0,18.571863,0.486551,5.947806,1.719515,50.598513,45.854643,13.322091,32460,15.807433,21.758252,88.941063,74.061076
1,ARIZONA,COCHISE,17383.0,26929.0,4003,128177,92915,56.299492,3.714395,34.403208,11.458374,49.069646,37.902276,19.756275,45383,8.567108,13.409171,76.837055,36.301067
2,ARIZONA,COCONINO,34240.0,19249.0,4005,138064,104265,54.619597,1.342855,13.711033,4.825298,50.581614,48.946141,10.873943,51106,8.238305,11.085381,65.791439,31.466066
3,ARIZONA,GILA,7643.0,12180.0,4007,53179,0,63.222325,0.552850,18.548675,4.249798,50.296170,32.238290,26.397638,40593,12.129932,15.729958,82.262624,41.062000
4,ARIZONA,GRAHAM,3368.0,6870.0,4009,37529,0,51.461536,1.811932,32.097844,4.385942,46.313518,46.393456,12.315809,47422,14.424104,14.580797,86.675944,46.437399

### Task 4 Search Missing Values

In [103]:
#Counting Null values for each column
null_count = merged_data.isnull().sum()
null_count = null_count[null_count>0]

#Printing null counts for columns that have null count >0
print(f'Null count for Columns - \n{null_count}\n\n')

#Printing % of null counts for columns that have null count>0
for column, null_co in null_count.iteritems():
    print(f'Percentage of missing values for Column {column} - {null_co*100/merged_data.shape[0]:.2f} %')

Null count for Columns -
Democratic Votes    3
Republican Votes    2
dtype: int64


Percentage of missing values for Column Democratic Votes - 0.25 %
Percentage of missing values for Column Republican Votes - 0.17 %

In [104]:
#Checking boolean False counts for each column, an empty/blank string or integer 0 will result in a False value
#for boolean type
bool_counts = merged_data.astype(bool).sum(axis=0)
for col, val in bool_counts.iteritems():
    print(f'{col} Percentage Boolean False Counts {(merged_data.shape[0]-val)*100/merged_data.shape[0]:.2f}')

State Percentage Boolean False Counts 0.00
County Percentage Boolean False Counts 0.00
Democratic Votes Percentage Boolean False Counts 0.00
Republican Votes Percentage Boolean False Counts 0.00
FIPS Percentage Boolean False Counts 0.00
Total Population Percentage Boolean False Counts 0.00
Citizen Voting-Age Population Percentage Boolean False Counts 56.67
Percent White, not Hispanic or Latino Percentage Boolean False Counts 0.00
Percent Black, not Hispanic or Latino Percentage Boolean False Counts 3.75
Percent Hispanic or Latino Percentage Boolean False Counts 0.42
Percent Foreign Born Percentage Boolean False Counts 0.25
Percent Female Percentage Boolean False Counts 0.00
Percent Age 29 and Under Percentage Boolean False Counts 0.00
Percent Age 65 and Older Percentage Boolean False Counts 0.00
Median Household Income Percentage Boolean False Counts 0.00
Percent Unemployed Percentage Boolean False Counts 0.25
Percent Less than High School Degree Percentage Boolean False Counts 0.00
Percent Less than Bachelor's Degree Percentage Boolean False Counts 0.00
Percent Rural Percentage Boolean False Counts 1.58

In [105]:
#Removing the column 'Citizen Voting-Age Population' from the dataset
merged_data = merged_data.drop(['Citizen Voting-Age Population'],axis=1)
merged_data.head()

,State,County,Democratic Votes,Republican Votes,FIPS,Total Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
0,ARIZONA,APACHE,16298.0,7810.0,4001,72346,18.571863,0.486551,5.947806,1.719515,50.598513,45.854643,13.322091,32460,15.807433,21.758252,88.941063,74.061076
1,ARIZONA,COCHISE,17383.0,26929.0,4003,128177,56.299492,3.714395,34.403208,11.458374,49.069646,37.902276,19.756275,45383,8.567108,13.409171,76.837055,36.301067
2,ARIZONA,COCONINO,34240.0,19249.0,4005,138064,54.619597,1.342855,13.711033,4.825298,50.581614,48.946141,10.873943,51106,8.238305,11.085381,65.791439,31.466066
3,ARIZONA,GILA,7643.0,12180.0,4007,53179,63.222325,0.552850,18.548675,4.249798,50.296170,32.238290,26.397638,40593,12.129932,15.729958,82.262624,41.062000
4,ARIZONA,GRAHAM,3368.0,6870.0,4009,37529,51.461536,1.811932,32.097844,4.385942,46.313518,46.393456,12.315809,47422,14.424104,14.580797,86.675944,46.437399